* {
    font-family: Verdana;
}

.content-header-big {
    text-align: center;
}

/* Navbar */

.navbar {
    background-color: darkblue !important;
    text-decoration: none;
}

.navbar a {
    color: white !important;

}

.nav-link:hover {
    background-color: crimson;
    text-transform: none;
}

/* Drop down styling */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: crimson;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* User profile */

.avatar {
    padding-right: 10px;
}

/* Flask Moment */

.flask-moment {
    display: inline
}
